*{
  font-family: "Archivo", sans-serif;
}

.footer{
  color: #FFFFFF !important;
}


.primary-button{
  background-color: #09122B;
  color: #FFFFFF;
  width: 145px;
  height: 48px;
  padding: 16px 16px 16px 16px;
  gap: 10px;
  border-radius: 10px 10px 10px 10px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  text-align: center;
}


.primary-button2{
  background-color: #09122B;
  color: #FFFFFF;
  width: 240px;
  height: 48px;
  padding: 16px 16px 16px 16px;
  gap: 10px;
  border-radius: 10px 10px 10px 10px;
  opacity: 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 17.41px;
  text-align: center;
}

.button-secondary{
  background-color: none;
  border-width: 1px;
  align-items: center;
  color: #09122B;
  width: 288px;
  height: 52px;
  margin-top: 20px;
  padding: 16px 16px 16px 16px;
  border-radius: 10px 10px 10px 10px;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  transition: background-color 0.3s ease-in-out;
}


.wrapper{
  width: 1272px;
  border-width: 2px;
  box-shadow:2px 2px 0 #09122B ;
  padding: 0 44px 0 44px;
  border-radius: 10px;
}

.card{
  box-shadow: 4px 4px 4px 0px #09122B;
  width: Fixed (1,272px)px;
  height: Hug (436px)px;
  padding: 12px 44px 20px 44px;
  gap: 44px;
  border-radius: 15px 0px 0px 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
  border: 1px solid #4E535B1A
}

.bullets{
 list-style: square;
}


.card{
  width: 550px;
  height: 450px;
  background-color: #B3BCD5;
  border-radius: 10px;
  justify-content: center;
  padding: 32px 52px 32px 52px;
  margin: 52px 160px;
  transition: transform 0.3s ease-in-out;
}

.card:hover{
  transform: scale(1.05);
}


@media screen and (max-width: 640px) {
  .wrapper {
    width: calc(100% - 20px);
    padding: 0 20px; 
  }

  .card {
    width: 90%; 
    max-width: 90%;
    height: auto;
    padding: 24px 32px; 
    margin: 24px auto; 
  }
}

@media screen and (min-width: 641px) and (max-width: 768px) {
  .wrapper {
    width: calc(100% - 40px);
    padding: 0 40px; 
  }
  .card {
    width: 90%; 
    max-width: 550px;
    margin: 32px auto; 
  }
}